.home-page {
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 40px;
  }

  .text-zone {
    position: relative;
    top: 47%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
    max-height: 100%;

    @media (max-width: 768px) {
      top: 30%;
      transform: none;
      width: 90%;
      padding: 0 10px;
    }

    h1 {
      color: #fff;
      font-size: 56px;
      line-height: 63px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #00ff7f;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.9;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #00ff7f;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.9;
      }

      @media (max-width: 768px) {
        font-size: 42px;
        line-height: 38px;

        &:before,
        &:after {
          display: none;
        }
      }
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      user-select: none;

      @media (max-width: 768px) {
        margin-left: 10px;
        width: 24px;
      }
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #00ff7f;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #00ff7f;
    margin-top: 25px;
    margin-right: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    border-radius: 0.5rem;

    &:hover {
      background: #00ff7f;
      color: rgb(0, 0, 0);
    }

    @media (max-width: 768px) {
      margin: 20px auto 0;
      float: none;
      display: inline-block;
    }
  }

  .flat-button .download-icon svg {
    font-size: 20px; /* Adjust as needed */
    vertical-align: middle;
  }

  .selectDisable {
    user-select: none;
  }

  .logo-wrapper {
    position: absolute;
    bottom: 250px;
    left: 85%;
    transform: translateX(-50%);
    max-width: 100px;

    @media (max-width: 768px) {
      display: none; // Hide logo on mobile
    }
  }

  @media (max-width: 1024px) {
    .text-zone {
      width: 60%;
      left: 5%;
    }

    .flat-button {
      font-size: 12px;
      padding: 8px 16px;
    }

    h1 {
      font-size: 40px;
      line-height: 48px;
    }
  }

  @media (max-width: 768px) {
    .text-zone {
      position: static;
      transform: none;
      width: 90%;
      margin: auto;
      padding-top: 80px;
      text-align: center;
    }

    h1 {
      font-size: 32px;
      line-height: 40px;
    }

    img {
      margin-left: 10px;
      width: 24px;
    }

    .flat-button {
      margin: 20px auto 0;
      float: none;
      display: inline-block;
    }

    .logo-wrapper {
      display: none; // hide logo on mobile
    }
  }
}

.mobile-break {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0;

  @media (max-width: 768px) {
    display: block;
    height: 1rem; // optional, tweak if you want space between lines
  }
}